body, html
{
    height : 100%;
}


.bg-img
{
    background-image: url("images/bg1.jpeg");
    filter: blur(4px);
    -webkit-filter: blur(4px);
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
*
{
    box-sizing: border-box;
}

.wrap
{
    position: absolute;
    background-color: rgb(0,0,0);
    border-radius: 14px;
    background-color: rgba(0,0,0, 0.6);
    top: 15%;
    left: 12%;
    transform: translate(-10%,-10%);
    -webkit-transform: translate(-10%,-10%);
    -moz-transform: translate(-10%,-10%);
    -ms-transform: translate(-10%,-10%);
    -o-transform: translate(-10%,-10%);
    z-index: 2;
    width: 95%;
    height: 92%;
    padding: 20px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}
.logo_and_top
{
    position : absolute;
    top : 6%;
    left : 4%;
    color : white;
}